h1
{
    text-align: center;
  padding-top: 10%;
}
.card
{
    margin: 20%;
    margin-top: 2.5%;
}
#hotovo{
   text-decoration:none;
   font-weight: bold;
   color:white;
}
#zpet
{
    color:white;
    background-color: red;
    border-radius: 8px;
    border-color: red;
    margin-left:45%;

}
